.sidebar{
    background-color: #272727;
}
.sidebar__menu{
    &__text {
        text-decoration: none;

    }
    & h2{
        text-align: center;
    }

}   

.nav__li__link{
    text-decoration: none;
    color: black;
    
}