.contact {
    text-align: center;
    background-color: #fafafa;
    height: 100vh;
    & h1 {
       color: black;
    }
    &__container{
        padding-top: 5rem;
        &__validationTextField{
            margin-top: 2rem;
        }
        &__btn{
            margin-top: 2rem;
            &__2 {
                margin-top: 1rem;
            }
        }
    }
}